body {
  transition: all ease-in-out 300ms;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Staatliches", cursive;
  font-size: 46px;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
}



.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  height: 100vh;
}

.hero-text {
  justify-self: center;
  padding:10px;
  background: #999;
  display: block;
  height: 250px;
  width: 250px;
}


.hero-text {
	height: 150px;
	width: 150px;
}


#sidenav-menu {
	height: 50px;
	width: 50px;
	position: fixed;
	color: #fff;
}
.sidenav {
	background: #111;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:active {
	color: #f1f1f1;	
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background:#eee;
	height: 100vh;
}




