

@media (max-width: 600px){
	.navbar{display: none}
}




@media all and (max-device-width: 600px){

	p { font-size: 100%; }
	h2 {
		font-size: 150%;
		margin-bottom:10px;
	}

	/************ HERO */
	.hero{
		background: url(../img/head.png) 500px 0px;
		background-size: cover;
	}

	.hero-text {
		height:150px;
		width: 150px;
	}
	
	/************ NAVI */
	.navbar{display: none}

	.sidenav {
		display: initial;
		background: #111 url(../img/navbg.jpg); 
		height: 100%; 
		width: 0; 
		position: fixed;
		z-index: 1; 
		top: 0; 
		left: 0;
		overflow-x: hidden; 
		padding-top: 60px; 
		transition: 0.5s; 
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:active {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	.sidenav::after {
		content:url(../img/1.jpg);
		background: #fff;
		position: sticky;
	
		left:250px;
		width:110px;
		height:415px;
	}

	/************ INTRO */
	.intro{



	
	}
}